.App {
  text-align: center;
  
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
  background: rgb(0, 0, 0);
  color: white;
}


.span {
  display: inline-block;
}


.home-list {
  list-style-type: none
}
