.App {
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Nunito', sans-serif;
}

nav {
  display: flex;
	justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  color: white;
  width: auto;
}

nav div {
  display: flex;
  align-items: center;
}

nav button {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(59, 128, 231);
  color: white;
  border: 3px solid white;
  font-family: 'Nunito', sans-serif;
  border-radius: 8px;
  opacity: 0.7;
  margin-right: 20px;
}

nav img {
  width: 120px;
  align-items: left;

}

h2 {
  margin-bottom: 0;
  margin-top: 0;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

ul{
  padding-right: 40px;
}

nav button:hover {opacity: 1};